@using ExamDotNetMVC.Models
@model ExamDotNetMVC.Models.ExamDetail

@{
    ViewBag.Title = "Edit1";
    var count = 0;

    var obje = (List<ExamDetail>)ViewBag.ExamDetail;
    var prev = 0;
    var next = 0;
    int attempt = 0;
    int unattempt = 10;

}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<style>
    .pagination {
        padding: 10px;
        background-color: white;
        border-radius: 50%;
        border: 2px solid #2e6da4;
        height: 45px;
        width: 45px;
        text-align: center;
        text-decoration: none;
        margin-right: 10px;
    }

        .pagination:hover {
            color: white;
            background-color: #2e6da4;
        }

    .paginationlink a {
        color: white;
        text-decoration: none;
    }

    .active {
        background-color: #2e6da4;
        color: white;
        border-color: black;
    }

    .success {
        background-color: #4caf50;
        color: white;
        border-color: black;
    }

    .danger {
        background-color: #e74507;
        color: white;
        border-color: black;
    }

    .AMarks:hover {
        font-size: 42px;
        background-color: #4caf50;
        border-radius: 50%;
    }

    .AMarks1:hover {
        font-size: 42px;
        background-color: #00fa9a;
        border-radius: 50%;
    }

    .AMarks2:hover {
        font-size: 42px;
        background-color: #ffd700;
        border-radius: 50%;
    }

    .AMarks3:hover {
        font-size: 42px;
        background-color: #bdb76b;
        border-radius: 50%;
    }

    .AMarks4:hover {
        font-size: 42px;
        background-color: #ff0000;
        border-radius: 50%;
    }
</style>
<script>
    function LoginRequired() {
        var a;
        swal({
                title: "Are you sure?",
                text: "Once Submitted, you will not be able to answer anymore",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    a = "Submited";
                    Quit(a);


                } else {
                    swal("You can proceed with the Exam!");
                }

            });
    }
    function Quit(a) {
        if (a == "Submited") {

            document.getElementById("myForm").action = "/WebUsers/Final";
            document.getElementById("myForm").submit();
        }
    }
</script>
@using (Html.BeginForm("Edit1", "WebUsers", FormMethod.Post, new { @id = "myForm" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-9" style="padding: 10px">
            <div style="margin: 15px;box-shadow: 1px 1px 21px gray;padding: 15px;border-radius: 5px">
                <div class="form-horizontal">
                    <div>
                        @Html.HiddenFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", id = "nameid" } })
                        @Html.HiddenFor(model => model.QuestionNo, new { htmlAttributes = new { @class = "form-control" } })
                        <input type="hidden" name="Status" Value="UnChecked" />
                        <input type="hidden" id="Marks" name="Marks" Value="@Model.Marks" />
                        <input type="hidden" id="AMarks" name="AMarks" Value="@Model.AMarks" />
                        <input type="hidden" id="Type" name="Type" value="@Model.Type" />
                        <input type="hidden" id="OptionA" name="OptionA" value="@Model.OptionA" />
                        <input type="hidden" id="OptionB" name="OptionB" value="@Model.OptionB" />
                        <input type="hidden" id="OptionC" name="OptionC" value="@Model.OptionC" />
                        <input type="hidden" id="OptionD" name="OptionD" value="@Model.OptionD" />
                        <input type="hidden" id="Answer" name="Answer" value="@Model.Answer" />
                    
                    </div>


                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-8">
                            </div>
                            <div class="col-md-2">
                                <h2>@Model.Marks Marks</h2>
                            </div>
                        </div>
                    </div>
                    @*<div class="row">
                        <div class="col-md-12">
                            <div class="form-control" style="height: 210px;width:100%;overflow-y: auto">
                                <h3>Problem</h3>
                                @Html.Raw(Model.QuestionNo)
                            </div>
                        </div>
                    </div><br />*@
                    @if (Model.Type == "MCQ")
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-control" style="height: 210px;width:100%;overflow-y: auto">
                                    <h3>Problem</h3>
                                    <div class="form-group">
                                        <h3 style="padding-left: 30px">@Html.Raw(Model.QuestionNo)</h3>
                                        <hr/>
                                        <div class="col-md-10">
                                            <span class="col-md-2">@Html.RadioButtonFor(model => model.UserAnswer, "OptionA")@Html.Raw(Model.OptionA)</span>
                                            <span class="col-md-2">@Html.RadioButtonFor(model => model.UserAnswer, "OptionB")@Html.Raw(Model.OptionB)</span>
                                            <span class="col-md-2">@Html.RadioButtonFor(model => model.UserAnswer, "OptionC")@Html.Raw(Model.OptionC)</span>
                                            <span class="col-md-2">@Html.RadioButtonFor(model => model.UserAnswer, "OptionD")@Html.Raw(Model.OptionD)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><br />
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-control" style="height: 210px;width:100%;overflow-y: auto">
                                    <h3>Problem</h3>
                                    @Html.Raw(Model.QuestionNo)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.UserAnswer, new {htmlAttributes = new {@class = "form-control"}})
                            </div>
                        </div><br />
                    }
                    
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            @for (int i = 0; i < 10; i++)
                            {
                                if (Model.Id.Equals(obje[i].Id))
                                {
                                    if (i == 0)
                                    {
                                        prev =
                                            obje[i].Id;
                                    }
                                    else
                                    {
                                        prev =
                                            obje[i - 1].Id;
                                    }
                                }
                            }
                            @for (int i = 0; i < 10; i++)
                            {
                                if (Model.Id.Equals(obje[i].Id))
                                {
                                    if (i == 9)
                                    {
                                        next =
                                            obje[i].Id;
                                    }
                                    else
                                    {
                                        next =
                                            obje[i + 1].Id;
                                    }
                                }
                            }
                            @{ var url = "/WebUsers/Edit1/" + prev;}
                            @{ var urlnext = "/WebUsers/Edit1/" + next;}
                            <a href=@url class="btn btn-primary col-md-offset-2">Previous</a>

                            <input type="submit" value="Save" class="btn btn-success col-md-offset-6" />
                            <a href=@urlnext class="btn btn-primary ">Next</a>
                        </div>

                    </div>




                </div>

            </div>
        </div>
        <div class="col-sm-3" style="padding: 10px">
            <div style="margin: 15px;box-shadow: 1px 1px 21px gray;padding:40px;border-radius: 5px">
                <p><b>QuestionNo</b></p>
                @{
                    foreach (var obj in (List<ExamDetail>)ViewBag.ExamDetail)
                    {
                        count = count + 1;
                        if (obj.Id == Model.Id && !string.IsNullOrEmpty(obj.UserAnswer.ToString()))
                        {
                            attempt = attempt + 1;
                            @Html.ActionLink(count.ToString(), "Edit1", new {controller = "WebUsers", id = obj.Id},
                                new {@class = "pagination active"})
                        }
                        else if (obj.Id == Model.Id)
                        {
                            @Html.ActionLink(count.ToString(), "Edit1", new {controller = "WebUsers", id = obj.Id},
                                new {@class = "pagination active"})
                        }
                        else if (string.IsNullOrEmpty(obj.UserAnswer.ToString()))
                        {



                            @Html.ActionLink(count.ToString(), "Edit1", new {controller = "WebUsers", id = obj.Id},
                                new {@class = "pagination danger"})
                        }
                        else
                        {
                            {
                                attempt = attempt + 1;
                            }

                            @Html.ActionLink(count.ToString(), "Edit1", new {controller = "WebUsers", id = obj.Id},
                                new {@class = "pagination success"})
                        }

                    }
                }

            </div>

            <div style="margin: 15px;box-shadow: 1px 1px 21px gray;padding: 15px;border-radius: 5px">
                <div style="overflow-x:auto">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>No of Questions</th>
                            <th>Questions Attempted</th>
                            <th>Question UnAttempted</th>
                        </tr>
                        <tr>
                            <td>10</td>

                            <td>@attempt</td>
                            @{ unattempt = unattempt - attempt;}
                            <td>@unattempt</td>
                        </tr>


                    </table>

                </div>
                <input class="btn btn-danger" value="Exit Exam" type="button" onclick="LoginRequired()" />
            </div>

        </div>
    </div>
    @*<script>
        if (document.getElementById("OptionA").checked) {
            document.getElementById("OptionB").unchecked;
            document.getElementById("OptionC").unchecked;
            document.getElementById("OptionD").unchecked;
        } else if (document.getElementById("OptionB").checked) {
            document.getElementById("OptionA").unchecked;
            document.getElementById("OptionC").unchecked;
            document.getElementById("OptionD").unchecked;
        } else if (document.getElementById("OptionC").checked) {
            document.getElementById("OptionA").unchecked;
            document.getElementById("OptionB").unchecked;
            document.getElementById("OptionD").unchecked;
        } else {
            document.getElementById("OptionA").unchecked;
            document.getElementById("OptionB").unchecked;
            document.getElementById("OptionC").unchecked;
        }


    </script>*@
    <script>
        $(function () {
            $('#Answer').froalaEditor();
        });


    </script>
    @Html.Partial("_ScriptSharing")
    //@Html.RenderPartial("_ScriptSharing")



}



